<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WinTreasure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18511EB11CFC280400D80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18511ECD1CFC280400D80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18511ED81CFC280400D80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
